/*==============================
=            Global            =
==============================*/

body {
  font-family: 'AkzidenzGrotesk';

  background-color: $black;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'AkzidenzGrotesk';
}

#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  text-align: center;

  background: $black-40;
}

/*-----  End of Global  ------*/

.site {
  color: $white;
  background-color: $black;
  a {
    color: $white;
  }
}


/*===============================================
=            Homepage + Klassen Page            =
===============================================*/

/*==========  Global  ==========*/
.home, .class {
  @include animation(fadein 2s);
  .block {
    @include backface-visibility(hidden);
    @include transition(all 0.5s ease);
    @include animation(fadein 2s);

    position: relative;

    float: left;

    padding: 15px;

    background-position: right bottom;
    background-size: cover;
    @media #{$medium-up} {
      &:hover:not(.nohover) {
        @include backface-visibility(hidden);
        @include transform(scale(1.1));
        // @include transform(rotate(-370deg));

        z-index: 1;

        cursor: pointer;
      }
    }
    .title {
      @include backface-visibility(hidden);

      font-size: rem-calc(17);

      padding-right: 45%;
    }
    .naarklas, .naarprofiel {
      @include backface-visibility(hidden);

      font-size: rem-calc(12);

      position: absolute;
      bottom: 15px;
    }
    &.grafisch-vormgever {
      background-color: $grafisch-vormgever;
    }
    &.interactief-vormgever {
      background-color: $interactief-vormgever;
    }
    &.audiovisueel-vormgeveranimatie {
      background-color: $audiovisueel-vormgeveranimatie;
    }
    &.dtp-er {
      background-color: $dtp-er;
    }
    &.mediamanager {
      background-color: $mediamanager;
    }
    &.av-technicus {
      background-color: $av-technicus;
    }
    &.evenemententechnicus {
      background-color: $evenemententechnicus;
    }
    &.geluidstechnicus {
      background-color: $geluidstechnicus;
    }
    &.media-en-gamedeveloper {
      background-color: $media-en-gamedeveloper;
    }
    &.ruimtelijk-vormgever {
      background-color: $ruimtelijk-vormgever;
    }
    &.podiumtechnicus {
      background-color: $podiumtechnicus;
    }
    &.filmacteur {
      background-color: $filmacteur;
    }
    &.signmaker {
      background-color: $signmaker;
    }
    &.game-artist {
      background-color: $game-artist;
    }
  }
}


/*==========  Homepage  ==========*/
.home {
  .block {
    &.wistjedat {
      background-color: $black;
      background-image: url(../images/background/malinked-block-light.png);
      p {
        font-size: rem-calc(12);

        padding-top: 10px;
        padding-right: 30%;
        strong {
          font-size: rem-calc(14);
        }
      }
    }
    &.overhetma {
      background-color: $black;
      background-image: url(../images/background/malinked-block-light.png);
      p {
        font-size: rem-calc(12);

        padding-top: 10px;
      }
    }
    &.grafisch-vormgever {
      background-image: url(../images/background/homepage_grafischvormgeven.png);
    }
    &.interactief-vormgever {
      background-image: url(../images/background/homepage_interactiefvormgeven.png);
    }
    &.audiovisueel-vormgeveranimatie {
      background-image: url(../images/background/homepage_audiovisueelvormgeven.png);
    }
    &.dtp-er {
      background-image: url(../images/background/homepage_dtp.png);
    }
    &.mediamanager {
      background-image: url(../images/background/homepage_mediamanager.png);
    }
    &.av-technicus {
      background-image: url(../images/background/homepage_audiovisueeltechnicus.png);
    }
    &.evenemententechnicus {
      background-image: url(../images/background/homepage_evenemententechnicus.png);
    }
    &.geluidstechnicus {
      background-image: url(../images/background/homepage_geluidtechnicus.png);
    }
    &.media-en-gamedeveloper {
      background-image: url(../images/background/homepage_mediaengamedeveloper.png);
    }
    &.ruimtelijk-vormgever {
      background-image: url(../images/background/homepage_ruimtelijkvormgeven.png);
    }
    &.podiumtechnicus {
      background-image: url(../images/background/homepage_podiumtechnicus.png);
    }
    &.filmacteur {
      background-image: url(../images/background/homepage_filmacteur.png);
    }
    &.signmaker {
      background-image: url(../images/background/homepage_signmaker.png);
    }
    &.game-artist {
      background-image: url(../images/background/homepage_gameartist.png);
    }
  }
}


/*==========  Class  ==========*/
.home, .class {
  .block {
    figure {
      @include backface-visibility(hidden);

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: 0;
      &:after {
        @include background-image(linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%));

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: "";
      }
      img {
        width: 100%;
        height: 100%;
      }
      figcaption {
        @include backface-visibility(hidden);

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 15px;
      }
    }
  }
}
/*-----  End of Homepage + Klassen Page  ------*/


/*======================================
=            Opleiding Page            =
======================================*/
.opleidingen {
  @include animation(fadein 2s);
  figure {
    margin: 0;
    padding-bottom: 30px;
    figcaption {
      @include background-image(linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%));

      line-height: 1.33em;

      position: absolute;
      bottom: 0;

      display: block;

      width: calc(100% - 30px);
      height: 100%;
      margin: 0 auto;
      padding: 15px;

      transition: background-color 0.3s ease;
      transition: background-color 0.5s linear;

      color: #ffffff;
    }
  }
}
/*-----  End of Opleiding Page  ------*/



/*====================================
=            Profile page            =
====================================*/


.profiel {
  @include animation(fadein 2s);
  .block {
    @include animation(fadein 2s);

    position: relative;

    float: left;

    padding-right: 15px;
    padding-left: 15px;
    h2 {
      font-size: rem-calc(25);
    }
    p {
      font-size: rem-calc(14);
    }
    a {
      font-size: rem-calc(14);
    }
    @media #{$small-only} {
      width: 100%;
    }
    @media #{$medium-up} {
      width: 33.33333%;
    }
  }
  .double-block {
    position: relative;

    float: left;

    padding-right: 15px;
    padding-left: 15px;
    @media #{$small-only} {
      width: 100%;
    }
    @media #{$medium-up} {
      width: 66.66666%;
    }
  }
  .toekomstbeeld {
    background-image: url(../images/background/malinked-block-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hoewas {
    span {
      font-size: 15vw;

      position: absolute;
      bottom: 0;
      left: 0;

      display: block;

      margin-bottom: -8vw;

      color: $white;
    }
  }
  .project-info {
    background-color: $white;
    h2 {
      color: $tuatara;
    }
    p {
      color: $tuatara;
    }
    a {
      position: absolute;
      bottom: 20px;

      color: $tuatara;
    }
  }
  .project-image {
    overflow: hidden;

    padding: 0;
    img {
      position: absolute;

      overflow: hidden;

      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
    }
    &:after {
      @include transform(rotate(45deg));

      position: absolute;

      width: 25px;
      height: 25px;
      margin-top: 65%;
      margin-left: -12.5px;

      content: "";

      background: $white;
    }
  }
  .hobby {
    color: $white;
    background-color: $black;
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  .favoriet {
    p {
      span {
        font-size: rem-calc(35);
      }
    }
  }
  .maps {
    ui-gmap-google-map {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: -200px;
      left: 0;

      height: 100%;
      .angular-google-map {
        height: 100%;
        .angular-google-map-container {
          height: 100%;
          .marker-labels {
            @include filter(drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8)));

            font-size: 14px;
            font-weight: bold;

            top: rem-calc(180) !important;

            width: rem-calc(240);
            padding: rem-calc(5);

            text-align: center;
            white-space: nowrap;
            pointer-events: none;

            opacity: 1;
            color: $oil;
            background-color: $white;
          }
        }
      }
    }
  }
  &[class*=' grafisch-vormgever'] {
    // &.grafisch-vormgever {
    .toekomstbeeld {
      background-color: $grafisch-vormgever;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $grafisch-vormgever;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $grafisch-vormgever;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' interactief-vormgever'] {
    .toekomstbeeld {
      background-color: $interactief-vormgever;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $interactief-vormgever;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $interactief-vormgever;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' animatieav-vormgeven'] {
    .toekomstbeeld {
      background-color: $audiovisueel-vormgeveranimatie;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $audiovisueel-vormgeveranimatie;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $audiovisueel-vormgeveranimatie;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' medewerker-dtp-niveau'], &[class*=' allround-dtp-er-niveau'] {
    .toekomstbeeld {
      background-color: $dtp-er;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $dtp-er;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $dtp-er;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' mediamanager'] {
    .toekomstbeeld {
      background-color: $mediamanager;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $mediamanager;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $mediamanager;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' allround-medewerker-av-productie'], &[class*=' av-techniek-cameraman'], &[class*=' av-techniek-lichttechnicus'] {
    // &.allround-medewerker-av-productie, &.av-techniek-cameraman, &.av-techniek-lichttechnicus {
    .toekomstbeeld {
      background-color: $av-technicus;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $av-technicus;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $av-technicus;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' allround-evenemententechnicus'] {
    .toekomstbeeld {
      background-color: $evenemententechnicus;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $evenemententechnicus;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $evenemententechnicus;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' av-techniek-geluidstechnicus'] {
    .toekomstbeeld {
      background-color: $geluidstechnicus;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $geluidstechnicus;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $geluidstechnicus;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' game-developer'], &[class*=' media-developer'] {
    .toekomstbeeld {
      background-color: $media-en-gamedeveloper;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $media-en-gamedeveloper;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $media-en-gamedeveloper;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' game-artist'] {
    .toekomstbeeld {
      background-color: $game-artist;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $game-artist;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $game-artist;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' allround-podiumtechnicus'], &[class*=' medewerker-podium-en-evenemententechniek'], &[class*=' podiumtechnicus'] {
    .toekomstbeeld {
      background-color: $podiumtechnicus;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $podiumtechnicus;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $podiumtechnicus;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' filmacteur'] {
    .toekomstbeeld {
      background-color: $filmacteur;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $filmacteur;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $filmacteur;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' medewerker-sign-niveau'], &[class*=' allround-signmaker-niveau'] {
    .toekomstbeeld {
      background-color: $signmaker;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $signmaker;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $signmaker;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &[class*=' vormgever-productpresentatie'], &[class*=' stand-winkel-en-decorvormgever'] {
    .toekomstbeeld {
      background-color: $ruimtelijk-vormgever;
      h2, p {
        color: $white;
      }
    }
    .hoewas {
      overflow: hidden;

      background-color: $ruimtelijk-vormgever;
      background-repeat: no-repeat;
      background-size: cover;
      h2, p {
        color: $white;
      }
    }
    .favoriet {
      color: $white;
      background-color: $ruimtelijk-vormgever;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
}
/*-----  End of Profile page  ------*/


/*=================================
=            Team page            =
=================================*/
.team {
  figure {
    img {
      @include border-radius(100%);
    }
    figcaption {
      text-align: center;
      h2 {
        font-size: rem-calc(25);

        margin-bottom: 0;

        color: $magenta;
      }
    }
  }
}


/*-----  End of Team page  ------*/




/*==============================
=            Search            =
==============================*/
#searchModal {
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  width: 100%;
  max-width: 100%;
  min-height: 100%;

  background-color: $black-80;
  &.reveal-modal {
    border: none;
    outline: none;
    a {
      &.close-reveal-modal {
        font-size: rem-calc(18);

        padding-right: 20px;
        padding-left: 20px;

        text-transform: uppercase;

        color: $white;
      }
    }
    .logo {
      display: inline;
      overflow: hidden;

      height: 32px;
      &:hover {
        span {
          &.text {
            overflow: hidden;

            width: 115px;
            height: 32px;
          }
        }
      }
      span {
        &.icon {
          display: inline-block;
          float: left;

          width: 32px;
          height: 32px;
          margin-top: 15px;

          background-image: url(../images/icon.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    input {
      font-size: rem-calc(28);

      display: block;

      width: 100%;
      height: 35px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 30px 0;

      color: $white;
      border: none;
      border-bottom: 1px solid $white;
      outline: none;
      background: transparent url("/static/images/search-icon.png") no-repeat scroll right;
    }
  }
  .opleidingen-menu {
    position: absolute;
    z-index: 100000;
    ul {
      margin-left: 0;
      a {
        font-size: rem-calc(16);

        text-transform: uppercase;

        color: $white;
        li {
          margin-bottom: 20px;

          list-style-type: none;
          &.grafisch-vormgever {
            &.active {
              color: $grafisch-vormgever;
            }
          }
          &.interactief-vormgever {
            &.active {
              color: $interactief-vormgever;
            }
          }
          &.audiovisueel-vormgeveranimatie {
            &.active {
              color: $audiovisueel-vormgeveranimatie;
            }
          }
          &.ruimtelijk-vormgever {
            &.active {
              color: $ruimtelijk-vormgever;
            }
          }
          &.filmacteur {
            &.active {
              color: $filmacteur;
            }
          }
          &.av-technicus {
            &.active {
              color: $av-technicus;
            }
          }
          &.podiumtechnicus {
            &.active {
              color: $podiumtechnicus;
            }
          }
          &.evenemententechnicus {
            &.active {
              color: $evenemententechnicus;
            }
          }
          &.geluidstechnicus {
            &.active {
              color: $geluidstechnicus;
            }
          }
          &.media-en-gamedeveloper {
            &.active {
              color: $media-en-gamedeveloper;
            }
          }
          &.game-artist {
            &.active {
              color: $game-artist;
            }
          }
          &.mediamanager {
            &.active {
              color: $mediamanager;
            }
          }
          &.dtp-er {
            &.active {
              color: $dtp-er;
            }
          }
          &.signmaker {
            &.active {
              color: $signmaker;
            }
          }
        }
      }
    }
  }
  .close-reveal-modal {
    @include btnsearch(0px);

    padding-right: 0;
    .icon-left {
      @include icon(4px, 15px);

      left: 0;

      background: transparent;
      &:before {
        @include icon-before(4px, 15px, -10px);
        @include transform(rotateZ(45deg) scaleX(1.4) translate(2px, 2px));
      }
      &:after {
        @include icon-after(4px, 15px, 10px);
        @include transform(rotateZ(-45deg) scaleX(1.4) translate(2px, -2px));
      }
      &:hover {
        cursor: pointer;
      }
    }
    .icon-right {
      @include icon(4px, 15px);

      left: 15px;

      background: transparent;
      &:before {
        @include icon-before(4px, 15px, -10px);
        @include transform(rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px));
      }
      &:after {
        @include icon-after(4px, 15px, 10px);
        @include transform(rotateZ(45deg) scaleX(1.4) translate(-2px, -2px));
      }
    }
  }
  .hamburger {
    @include btn(30px, 30px);
    .icon-left {
      @include icon(4px, 15px);

      left: 0;
      &:before {
        @include icon-before(4px, 15px, -10px);
      }
      &:after {
        @include icon-after(4px, 15px, 10px);
      }
      &:hover {
        cursor: pointer;
      }
    }
    .icon-right {
      @include icon(4px, 15px);

      left: 15px;
      &:before {
        @include icon-before(4px, 15px, -10px);
      }
      &:after {
        @include icon-after(4px, 15px, 10px);
      }
    }
    &.open {
      .icon-left {
        @include transition-duration(0.5s);

        background: transparent;
        &:before {
          @include transform(rotateZ(45deg) scaleX(1.4) translate(2px, 2px));
        }
        &:after {
          @include transform(rotateZ(-45deg) scaleX(1.4) translate(2px, -2px));
        }
      }
      .icon-right {
        @include transition-duration(0.5s);

        background: transparent;
        &:before {
          @include transform(rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px));
        }
        &:after {
          @include transform(rotateZ(45deg) scaleX(1.4) translate(-2px, -2px));
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .student {
    @include background-size(cover);

    position: relative;
    top: -15px;

    width: 100%;
    height: 155px;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-position: center center;
    &[class*=' grafisch-vormgever'] {
      background-color: $grafisch-vormgever;
    }
    &[class*=' interactief-vormgever'] {
      background-color: $interactief-vormgever;
    }
    &[class*=' vormgever-productpresentatie'], &[class*=' stand-winkel-en-decorvormgever'] {
      background-color: $ruimtelijk-vormgever;
    }
    &[class*=' animatieav-vormgeven'] {
      background-color: $audiovisueel-vormgeveranimatie;
    }
    &[class*=' filmacteur'] {
      background-color: $filmacteur;
    }
    &[class*=' av-techniek'], &[class*=' allround-medewerker-av-productie'] {
      background-color: $av-technicus;
    }
    &[class*=' medewerker-podium'], &[class*=' allround-podium'], &[class*=' podiumtechnicus'] {
      background-color: $podiumtechnicus;
    }
    &[class*=' evenemententechnicus'] {
      background-color: $evenemententechnicus;
    }
    &[class*=' av-techniek-geluidstechnicus'] {
      background-color: $geluidstechnicus;
    }
    &[class*=' game-developer'], &[class*=' media-developer'] {
      background-color: $media-en-gamedeveloper;
    }
    &[class*=' game-artist'] {
      background-color: $game-artist;
    }
    &[class*=' mediamanager'] {
      background-color: $mediamanager;
    }
    &[class*=' medewerker-dtp'], &[class*=' allround-dtp'] {
      background-color: $dtp-er;
    }
    &[class*=' allround-sign'], &[class*=' medewerker-sign'] {
      background-color: $signmaker;
    }
    &:after {
      @include background-image(linear-gradient(transparent, $black));

      position: absolute;
      z-index: 50;
      right: 0;
      bottom: 0;
      left: 0;

      height: 83px;

      content: "";
    }
    &:hover {
      cursor: pointer;
    }
    .info {
      position: absolute;
      z-index: 100;
      bottom: 0;

      margin-left: 100px;
      h4 {
        font-size: rem-calc(20);

        margin-bottom: 0;

        color: $white;
      }
      p {
        font-size: rem-calc(12  );

        color: $white;
      }
    }
    figure {
      img {
        position: absolute;
        z-index: 100;
        bottom: 3px;
        left: 3px;

        float: left;

        width: 80px;
        height: 80px;
        margin-top: 0;

        border-radius: 100%;
      }
    }
  }
}
/*-----  End of Search  ------*/
