/*==============================
=            Header            =
==============================*/

/*==========  Global  ==========*/
header {
  position: relative;

  overflow: hidden;

  height: 75vh;
  nav {
    &.menu {
      @include background-image(linear-gradient($black, transparent));

      position: fixed;
      z-index: 99;
      top: 0;
      right: 0;
      left: 0;

      padding-top: 30px;
      .logo {
        display: inline;
        overflow: hidden;

        height: 32px;

        cursor: pointer;
        &:hover {
          span {
            &.text {
              overflow: hidden;

              width: 115px;
              height: 32px;
            }
          }
        }
        span {
          &.icon {
            display: inline-block;
            float: left;

            width: 32px;
            height: 32px;

            background-image: url(../images/icon.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
          &.text {
            @include transition(width 0.5s);

            line-height: 32px;

            display: inline-block;
            float: left;
            overflow: hidden;

            width: 0;
            padding-left: 15px;

            white-space: nowrap;

            color: $white;
          }
          &.info {
            @include transition(width 0.5s);

            line-height: 32px;

            display: inline-block;
            float: left;
            overflow: hidden;

            white-space: nowrap;

            color: $white;
          }
        }
      }
      ul {
        display: inline-block;
        float: right;

        margin: 0 auto;

        list-style: none;

        background-color: transparent;
        a {
          li {
            float: left;

            padding: 0 0 0 15px;

            color: $white;
            background-color: transparent;
          }
        }
      }
    }
  }
  .overlay {
    @include background-image(linear-gradient($black-40, $black-60));

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }
  &:after {
    @include background-image(linear-gradient(transparent, $black));

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 55px;

    content: "";
  }
}

/*==========  Homepage  ==========*/
header {
  &.home {
    video {
      @include transform(translate(50%));
      @include animation-name(blur-effect-out);
      @include animation-duration(0.5s);
      @include animation-fill-mode(forwards);
      @include transition(0.2s);

      position: absolute;
      right: 50%;

      overflow: hidden;

      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      &.video-blur {
        @include animation-name(blur-effect-in);
        @include animation-duration(2s);
        @include transition(0.2s);
      }
    }
    .content {
      .search-bar {
        @include transform(translateY(-50%));

        font-size: rem-calc(25);
        line-height: 55px;

        position: absolute;
        top: 50%;
        right: 0;
        left: 0;

        height: 55px;

        color: $white;
        background-color: rgba(0, 0, 0, 0.75);
        // z-index: 1000;
        p {
          &.searchinfo {
            position: absolute;

            display: inline-block;

            margin-top: -29px;
            padding: 5px 5px 0;

            background-color: rgba(0, 0, 0, 0.75);
          }
        }
        input {
          @include input-placeholder {
            color: $vapor;
          }

          font-size: rem-calc(25);

          width: 100%;
          height: 100%;
          padding: 15px;

          color: $white;
          border: none;
          outline: none;
          // background: transparent url("/static/images/search-icon.png") no-repeat scroll 600px;
          background-color: transparent;
        }
      }
    }
  }
}

/*==========  Klas en Opleiding  ==========*/
header {
  &.klas, &.opleiding {
    @include background-size(cover);
    // Fallback image

    background-repeat: no-repeat;
    background-position: center;
    .content {
      .align {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.75);
        .row {
          min-height: 55px;
          h1 {
            font-size: rem-calc(18);

            color: $white;
          }
          p {
            font-size: rem-calc(15);

            color: $white;
          }
        }
        &:after {
          @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.75)));

          position: absolute;
          top: -55px;
          right: 0;
          left: 0;

          height: 55px;

          content: "";
        }
      }
    }
  }
}

/*==========  Profile  ==========*/
header {
  &.profiel {
    @include background-size(cover);
    // Fallback image

    background-repeat: no-repeat;
    background-position: center;
    .content {
      .bar {
        @include transform(translateY(-75%));

        font-size: rem-calc(25);
        line-height: 55px;

        position: absolute;
        top: 75%;
        right: 0;
        left: 0;

        height: 55px;

        color: $white;
        background-color: rgba(0, 0, 0, 0.75);
        .social {
          a {
            display: inline-block;

            width: 30px;
            height: 30px;
            margin: 12.5px 0;
            &.website {
              background-image: url(../images/social/website.png);
            }
            &.linkedin {
              background-image: url(../images/social/linkedin.png);
            }
            &.dribbble {
              background-image: url(../images/social/dribbble.png);
            }
            &.behance {
              background-image: url(../images/social/behance.png);
            }
            &.vimeo {
              background-image: url(../images/social/vimeo.png);
            }
            &.youtube {
              background-image: url(../images/social/youtube.png);
            }
            &.facebook {
              background-image: url(../images/social/facebook.png);
            }
          }
        }
      }
      .image {
        @include transform(translate(-50%, -75%));

        position: absolute;
        top: 75%;
        left: 50%;

        width: 250px;
        height: 250px;

        border-radius: 125px;
      }
    }
    &.grafisch-vormgever {
      background-color: $grafisch-vormgever;
    }
    &.interactief-vormgever {
      background-color: $interactief-vormgever;
    }
    &.audiovisueel-vormgeveranimatie {
      background-color: $audiovisueel-vormgeveranimatie;
    }
    &.dtp-er {
      background-color: $dtp-er;
    }
    &.mediamanager {
      background-color: $mediamanager;
    }
    &.av-technicus {
      background-color: $av-technicus;
    }
    &.evenemententechnicus {
      background-color: $evenemententechnicus;
    }
    &.geluidstechnicus {
      background-color: $geluidstechnicus;
    }
    &.media-en-gamedeveloper {
      background-color: $media-en-gamedeveloper;
    }
    &.ruimtelijk-vormgever {
      background-color: $ruimtelijk-vormgever;
    }
    &.podiumtechnicus {
      background-color: $podiumtechnicus;
    }
    &.filmacteur {
      background-color: $filmacteur;
    }
    &.signmaker {
      background-color: $signmaker;
    }
    &.game-artist {
      background-color: $game-artist;
    }
  }
  .content {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/*==========  Header Afbeeldingen  ==========*/
header {
  /*==========  Opleiding Foto's  ==========*/
  &.opleiding {
    &.grafisch-vormgever {
      background-image: url(../images/opleiding/grafisch-vormgever.jpg);
    }
    &.interactief-vormgever {
      background-image: url(../images/opleiding/interactief-vormgever.jpg);
    }
    &.audiovisueel-vormgeveranimatie {
      background-image: url(../images/opleiding/audiovisueel-vormgeveranimatie.jpg);
    }
    &.dtp-er {
      background-image: url(../images/opleiding/dtp-er.jpg);
    }
    &.mediamanager {
      background-image: url(../images/opleiding/mediamanager.jpg);
    }
    &.av-technicus {
      background-image: url(../images/opleiding/av-technicus.jpg);
    }
    &.evenemententechnicus {
      background-image: url(../images/opleiding/evenemententechnicus.jpg);
    }
    &.geluidstechnicus {
      background-image: url(../images/opleiding/geluidstechnicus.jpg);
    }
    &.media-en-gamedeveloper {
      background-image: url(../images/opleiding/media-en-gamedeveloper.jpg);
    }
    &.ruimtelijk-vormgever {
      background-image: url(../images/opleiding/ruimtelijk-vormgever.jpg);
    }
    &.podiumtechnicus {
      background-image: url(../images/opleiding/podiumtechnicus.jpg);
    }
    &.filmacteur {
      background-image: url(../images/opleiding/filmacteur.jpg);
    }
    &.signmaker {
      background-image: url(../images/opleiding/signmaker.jpg);
    }
    &.game-artist {
      background-image: url(../images/opleiding/game-artist.jpg);
    }
  }
  /*==========  Klassen Foto's  ==========*/
  &.klas {
    /*==========  Grafisch Vormgever  ==========*/
    &.GV4A {
      background-image: url(../images/klassen/GV4A.jpg);
    }
    &.GV4B {
      background-image: url(../images/klassen/GV4B.jpg);
    }
    &.GV4C {
      background-image: url(../images/klassen/GV4C.jpg);
    }
    &.GV4D {
      background-image: url(../images/klassen/GV4D.jpg);
    }
    &.GV4E {
      background-image: url(../images/klassen/GV4E.jpg);
    }
    /*==========  Interactief Vormgever  ==========*/
    &.IV4A {
      background-image: url(../images/klassen/IV4A.jpg);
    }
    /*==========  Audiovisueel Vormgeveranimatie  ==========*/
    &.AV4A {
      background-image: url(../images/klassen/AV4A.jpg);
    }
    /*==========  DTP-er  ==========*/
    &.D2A {
      background-image: url(../images/klassen/D2A.jpg);
    }
    &.D2B {
      background-image: url(../images/klassen/D2B.jpg);
    }
    &.D3Y {
      background-image: url(../images/klassen/D3Y.jpg);
    }
    &.D3Z {
      background-image: url(../images/klassen/D3Z.jpg);
    }
    /*==========  Mediamanager  ==========*/
    &.MM4A {
      background-image: url(../images/klassen/MM4A.jpg);
    }
    /*==========  AV Technicus  ==========*/
    &.AT4B {
      background-image: url(../images/klassen/AT4B.jpg);
    }
    &.AT4L {
      background-image: url(../images/klassen/AT4L.jpg);
    }
    &.AT3X {
      background-image: url(../images/klassen/AT3X.jpg);
    }
    /*==========  Evenemententechnicus  ==========*/
    &.ET3X {
      background-image: url(../images/klassen/ET3X.jpg);
    }
    /*==========  Geluidstechnicus  ==========*/
    &.AT4G {
      background-image: url(../images/klassen/AT4G.jpg);
    }
    &.GT4A {
      background-image: url(../images/klassen/GT4A.jpg);
    }
    /*==========  Media en Gamedeveloper  ==========*/
    &.GD4B {
      background-image: url(../images/klassen/GD4B.jpg);
    }
    &.GD4A {
      background-image: url(../images/klassen/GD4A.jpg);
    }
    &.MD4A {
      background-image: url(../images/klassen/MD4A.jpg);
    }
    /*==========  Ruimtelijk Vormgever  ==========*/
    &.RV4A {
      background-image: url(../images/klassen/RV4A.jpg);
    }
    &.RV4B {
      background-image: url(../images/klassen/RV4B.jpg);
    }
    &.RV4B {
      background-image: url(../images/klassen/RV4B.jpg);
    }
    /*==========  Podiumtechnicus  ==========*/
    &.PT3X {
      background-image: url(../images/klassen/PT3X.jpg);
    }
    &.PT2X {
      background-image: url(../images/klassen/PT2X.jpg);
    }
    &.PT4G {
      background-image: url(../images/klassen/PT4G.jpg);
    }
    &.PT4L {
      background-image: url(../images/klassen/PT4L.jpg);
    }
    &.PT4T {
      background-image: url(../images/klassen/PT4T.jpg);
    }
    /*==========  Filmacteur  ==========*/
    &.FA4A {
      background-image: url(../images/klassen/FA4A.jpg);
    }
    &.FA3B {
      background-image: url(../images/klassen/FA3B.jpg);
    }
    /*==========  Signmaker  ==========*/
    &.S2A {
      background-image: url(../images/klassen/S2A.jpg);
    }
    &.S3A {
      background-image: url(../images/klassen/S3A.jpg);
    }
    /*==========  Game Artist  ==========*/
    &.GA4B {
      background-image: url(../images/klassen/GA4B.jpg);
    }
    &.GA4A {
      background-image: url(../images/klassen/GA4A.jpg);
    }
  }
}

/*==========  Header Team  ==========*/
header {
  &.team {
    @include background-size(cover);

    height: 50vh;

    background-image: url(../images/team/team-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    .content {
      position: relative;

      height: 100%;
      .align {
        @include vertical-align;

        text-align: center;
        h1 {
          color: $white;
          @include filter(drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8)));
        }
      }
    }
  }
}


/*-----  End of Header  ------*/
