#outdated {
  // display: block !important;
  height: 100%  !important;
  background-color: $magenta  !important;
  color: $white  !important;
  .content {
    @include vertical-align;
  }
}

.megadiv {
  height: 10000px;
}