header {
  height: 75vh;
  position: relative;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include transform(translateY(-50%));
    width: 100vw;
    // @include filter(sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5));
    // @include filter(saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02));
    // @include filter(brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg));
    // @include filter(sepia(0.4) saturate(2.4) brightness(1.3) contrast(1));
    @include filter(sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8));
    @include animation-name(blur-effect-out);
    @include animation-duration(0.5s);
    @include animation-fill-mode(forwards);
    @include transition(0.2s);

    &.video-blur {
      @include animation-name(blur-effect-in);
      @include animation-duration(2s);
      @include transition(0.2s);
    }
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .search-bar {
      position: absolute;
      @include transform(translateY(-50%));
      left: 0;
      right: 0;
      top: 50%;
      height: 55px;
      background-color: rgba(0, 0, 0, 0.75);
      color: $white;
      font-size: rem-calc(25);
      line-height: 55px;
      // z-index: 1000;

      input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: $white;
        font-size: rem-calc(25);
        padding: 15px;

        @include input-placeholder {
          color: $vapor;
        }
      }
    }
  }

  .overlay {
    @include background-image(linear-gradient($black-40, $black-60));
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    @include background-image(linear-gradient(transparent, $black));
  }
}

.site {
  background-color: $black;
  color: $white;

  a {
    color: $white;
  }

  .block {
    position: relative;
    padding: 15px;
    float: left;
    background-size: cover;
    background-position: right bottom;
    @include transition(all 0.5s ease);
    @include backface-visibility(hidden);

    &:hover {
      @include backface-visibility(hidden);
      @include transform(scale(1.1));
      // @include transform(rotate(-370deg));
      z-index: 1;
      cursor: pointer;
    }

    &.nohover {
      &:hover {
        @include transform(scale(1));
        cursor: default;
        z-index: -1;
      }
    }

    .title {
      @include backface-visibility(hidden);
      font-size: rem-calc(17);
      padding-right: 45%;
    }

    .naarklas {
      @include backface-visibility(hidden);
      position: absolute;
      bottom: 15px;
      font-size: rem-calc(12);
    }

    &.grafischvormgeven {
      background-color: $grafischvormgeven;
      background-image: url(../images/background/homepage_grafischvormgeven.png);
    }

    &.interactiefvormgeven {
      background-color: $interactiefvormgeven;
      background-image: url(../images/background/homepage_interactiefvormgeven.png);
    }

    &.audiovisueel {
      background-color: $audiovisueelvormgeven;
      background-image: url(../images/background/homepage_audiovisueelvormgeven.png);
    }

    &.dtper {
      background-color: $dtp;
      background-image: url(../images/background/homepage_dtp.png);
    }

    &.mediamanager {
      background-color: $mediamanager;
      background-image: url(../images/background/homepage_mediamanager.png);
    }

    &.audiovisueeltechnicus {
      background-color: $audiovisueeltechnicus;
      background-image: url(../images/background/homepage_audiovisueeltechnicus.png);
    }

    &.evenemententechnicus {
      background-color: $evenemententechnicus;
      background-image: url(../images/background/homepage_evenemententechnicus.png);
    }

    &.wistjedat {
      background-color: $black;
      background-image: url(../images/background/malinked-block-light.png);

      p {
        font-size: rem-calc(12);
        padding-top: 10px;
        padding-right: 30%;

        strong {
          font-size: rem-calc(14);
        }
      }
    }

    &.overhetma {
      background-color: $black;
      background-image: url(../images/background/malinked-block-light.png);

      p {
        font-size: rem-calc(12);
        padding-top: 10px;
      }
    }

    &.geluidtechnicus {
      background-color: $geluidtechnicus;
      background-image: url(../images/background/homepage_dtp.png);
    }

    &.mediaengamedeveloper {
      background-color: $mediaengamedevelopment;
      background-image: url(../images/background/homepage_mediaengamedeveloper.png);
    }

    &.ruimtelijkvormgeven {
      background-color: $ruimtelijkvormgeven;
      background-image: url(../images/background/homepage_ruimtelijkvormgeven.png);
    }

    &.podiumtechnicus {
      background-color: $podiumtechnicus;
      background-image: url(../images/background/homepage_podiumtechnicus.png);
    }

    &.filmacteur {
      background-color: $filmacteur;
      background-image: url(../images/background/homepage_filmacteur.png);
    }

    &.signmaker {
      background-color: $signmaker;
      background-image: url(../images/background/homepage_signmaker.png);
    }

    &.gameartist {
      background-color: $gameartist;
      background-image: url(../images/background/homepage_gameartist.png);
    }
  }
}