<section class="klassen">
  <div class="row">
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
    <a href="#">
      <div class="small-12 medium-3 columns grafischvormgeven block">
        <figure>
          <img src="/static/images/profiles/marja-de-leeuw.png">
          <figcaption>
            <div class="title">Marja de Leeuw</div>
            <div class="naarprofiel">Bekijk het profiel &rsaquo;</div>
          </figcaption>
        </figure>
      </div>
    </a>
  </div>
</section>