<article class="hobbys-en-gegevens medium-9 columns content">
  <form enctype="multipart/form-data" data-abide>
    <div class="row">
      <div class="small-12 columns">
        <h2>Voorbeeld van je profiel</h2>
        <div class="student grafisch-vormgever" style="background-image: url(http://placehold.it/1200x420);">
          <div class="info">
            <h4>[[Voornaam Achternaam]]</h4>
            <p>[[Opleiding]]</p>
          </div>
          <figure>
            <img src="http://placehold.it/400x400&text=Profiel" title="Huidige profiel foto">
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="avatar-field">
          <label>Persoonlijke foto wijzigen
            <div class="speedyUpload-container">
              <div class="input">Geen bestand geselecteerd</div>
              <input name="image" type="file" data-part="profile" class="speedyUpload">
            </div>
            <small class="error">Upload een (geldige) afbeelding!</small>
          </label>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="profile-header-field">
          <label>Profiel Achtergrond
            <div class="speedyUpload-container">
              <div class="input">Geen bestand geselecteerd</div>
              <input name="image" type="file" data-part="profile" class="speedyUpload">
            </div>
            <small class="error">Upload een (geldige) afbeelding!</small>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="email-field">
          <label>Persoonlijk e-mailadres
            <input name="email" type="text" placeholder="jaarboek@gmail.com" />
          </label>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="woonplaats-field">
          <label>Woonplaats
            <input name="city" type="text" placeholder="Amsterdam" required />
          </label>
          <small class="error">Vul je woonplaats in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="portfolio-field">
          <label>Link naar portfolio website
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">http://</span>
              </div>
              <div class="small-9 columns">
                <input name="portfolio" type="text" placeholder="www.mijnportfolio.nl" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
              </div>
            </div>
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="linkedin-field">
          <label>Link naar LinkedIn profiel
            <input name="linkedin" type="text" placeholder="https://linkedin.com/Gebruikersnaam" pattern="linkedin\.com" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="dribbble-field">
          <label>Link naar Dribbble profiel
            <input name="dribbble" type="text" placeholder="https://dribbble.com/Gebruikersnaam" pattern="dribbble\.com" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="behance-field">
          <label>Link naar Behance profiel
            <input name="behance" type="text" placeholder="https://www.behance.net/Gebruikersnaam" pattern="behance\.net" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="vimeo-field">
          <label>Link naar Vimeo profiel
            <input name="vimeo" type="text" placeholder="https://vimeo.com/Gebruikersnaam" pattern="vimeo\.com" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="youtube-field">
          <label>Link naar YouTube profiel
            <input name="youtube" type="text" placeholder="https://youtube.com/user/Gebruikersnaam" pattern="youtube\.com" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="facebook-field">
          <label>Link naar Facebook profiel
            <input name="facebook" type="text" placeholder="https://www.facebook.com/Gebruikersnaam" pattern="facebook\.com" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 columns">
        <div class="hobby-field">
          <label>Interesses / hobby's<br>
            <small>Plaats hieronder je interesses/hobby's, meerdere interesses/hobby's kun je onderscheiden met een enter, komma of tab:</small>
            <input name="hobby" required>
          </label>
          <small class="error">Vul geldige interesses / hobby's in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="#" class="button">Herstel velden</a>
        <a href="#" class="button">Opslaan</a>
      </div>
    </div>
  </form>
</article>