<script>
$(document).ready(function(){

isCalled = false;
function reduceRatio(numerator, denominator) {
    var gcd, temp, divisor;
            // from: http://pages.pacificcoast.net/~cazelais/euclid.html
    gcd = function (a, b) {
        if (b === 0) return a;
        return gcd(b, a % b);
    }
            // take care of some simple cases
    if (numerator === denominator) return '1 : 1';
            // make sure numerator is always the larger number
    if (+numerator < +denominator) {
        temp        = numerator;
        numerator   = denominator;
        denominator = temp;
    }
            divisor = gcd(+numerator, +denominator);
            return 'undefined' === typeof temp ? (numerator / divisor) + ' : ' + (denominator / divisor) : (denominator / divisor) + ' : ' + (numerator / divisor);
};
// Messy jquery part no time to do it clean
    function readFile(file, part, that){
      if( isCalled ){
        isCalled = false;
        return;
      }
      isCalled = true;

      var reader = new FileReader();

      reader.onload = function (e) {
        var base64 = e.target.result;
        var regex = /^data:(.+?)\/(.+?);/i;
        var data = base64.match(regex);

        if( data[2] != 'png' && data[2] != 'jpg' && data[2] != 'jpeg' ){
          alert('Je mag alleen png of jpeg uploaden.');
          return;
        }

        if( part == 'background' ){
          var i = new Image();
          i.onload = function(){
            var ratio = reduceRatio( i.width, i.height );
            if( ratio != '12 : 5' ){
              alert('Afbeelding heeft niet de juiste verhoudingen. Moet 12 : 5 zijn, is '+ ratio);
              return;
            }
            if( i.width < 1200 || i.height < 500 ){
              alert('Afbeelding is te klein. Moet minimaal 1200x500 zijn, is '+ i.width+'x'+i.height);
              return;
            }

          };

          i.src = base64;
        }

        $('.in'+part).html(that.val());
      }

      reader.readAsDataURL(file);
    }


   $(document).on("change", '.speedyUpload', function(){
        files = $(this)[0].files;

        if (typeof window.FileReader === 'function') {
          for( var k = 0; k < files.length; k++ ){
            readFile(files[k], $(this).data('part'), $(this));
          }
        }
      });
});

</script>



<article class="hobbys-en-gegevens medium-9 columns content" ng-show="show">
  <form enctype="multipart/form-data" method="post" ng-submit="postData()" data-abide>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="avatar-field">
          <label>Persoonlijke foto wijzigen
            <div class="speedyUpload-container">
              <div class="input inprofilepicture">Geen bestand geselecteerd</div>
              <input ng-model="userData.profilepocture" id="profilepicture" name="image" type="file" data-part="profilepicture" class="speedyUpload">
            </div>
            <small class="error">Upload een (geldige) afbeelding!</small>
          </label>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="profile-header-field">
          <label>Profiel Achtergrond (minimaal 1200x500, 12:5)
            <div class="speedyUpload-container">
              <div class="input inbackground">Geen bestand geselecteerd</div>
              <input ng-model="headerimage" id="headerImage" name="image" type="file" data-part="background" class="speedyUpload">
            </div>
            <small class="error">Upload een (geldige) afbeelding!</small>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="email-field">
          <label>Persoonlijk e-mailadres
            <input name="email" ng-model="userData.info.email" type="text" placeholder="jaarboek@gmail.com" value="{{ userData.info.email }}"/>
          </label>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="woonplaats-field">
          <label>Woonplaats
            <input name="city" ng-model="userData.info.location" type="text" placeholder="Amsterdam" value="" required />
          </label>
          <small class="error">Vul je woonplaats in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="portfolio-field">
          <label>Link naar portfolio website
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">http://</span>
              </div>
              <div class="small-9 columns">
                <input ng-model="userData.info.portfolio" name="portfolio" type="text" placeholder="www.mijnportfolio.nl" value="" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
              </div>
            </div>
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="linkedin-field">
          <label>Link naar LinkedIn profiel
            <input name="linkedin" ng-model="userData.info.linkedin" type="text" placeholder="https://linkedin.com/Gebruikersnaam" value="" pattern="(.+?)?linkedin.com?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="dribbble-field">
          <label>Link naar Dribbble profiel
            <input name="dribbble" ng-model="userData.info.dribbble" type="text" placeholder="https://dribbble.com/Gebruikersnaam" value="" pattern="(.+?)?dribbble.com?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="behance-field">
          <label>Link naar Behance profiel
            <input name="behance" ng-model="userData.info.behance" type="text" placeholder="https://www.behance.net/Gebruikersnaam" value="" pattern="(.+?)?behance.net?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="vimeo-field">
          <label>Link naar Vimeo profiel
            <input name="vimeo" ng-model="userData.info.vimeo" type="text" placeholder="https://vimeo.com/Gebruikersnaam" value="" pattern="(.+?)?vimeo.com?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="youtube-field">
          <label>Link naar YouTube profiel
            <input name="youtube" ng-model="userData.info.youtube" type="text" placeholder="https://youtube.com/user/Gebruikersnaam" value="" pattern="(.+?)?youtube.com?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="facebook-field">
          <label>Link naar Facebook profiel
            <input name="facebook" ng-model="userData.info.facebook" type="text" placeholder="https://www.facebook.com/Gebruikersnaam" value="" pattern="(.+?)?facebook.com?(.+?)+" />
          </label>
          <small class="error">Vul een geldige link in!</small>
        </div>
      </div>
      <div class="small-12 columns">
        <div class="hobby-field">
          <label>Interesses / hobby's<br>
            <small>Plaats hieronder je interesses/hobby's, meerdere interesses/hobby's kun je onderscheiden met een enter, komma of tab:</small>
            <input name="hobby" ng-model="fuserData.info.hobbies" value="{{ getHobbies() }}" required>
          </label>
          <small class="error">Vul geldige interesses / hobby's in!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="#" class="button">Herstel velden</a>
        <input type="submit" class="button" value="Opslaan"/>
      </div>
    </div>
  </form>
</article>
<article class="waarom-het-ma medium-9 columns content" ng-hide="show">
  <center><img src="http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/5-1.gif" alt="Loading..."/></center>
</article>