<header class="homepage">
  <nav class="menu" role="navigation">
    <div class="row">
      <div class="logo">
        <span class="icon"></span>
        <span class="text">Ma Linked</span>
      </div>
      <ul>
        <a href="#"><li>Opleidingen</li></a>
        <a href="#"><li>Zoeken</li></a>
      </ul>
    </div>
  </nav>
  <video preload="auto" autoplay poster="/static/images/video-background.png" loop muted>
    <source src="/static/videos/video-background.mp4" type="video/mp4">
    <source src="/static/videos/video-background.webm" type="video/webm">
    Sorry, your browser does not support HTML5 video.
  </video>
  <div class="content">
    <div class="search-bar row">
      <input name="search-bar" placeholder="Zoek direct op een opleiding, klas of student" onfocus="this.placeholder=''" onblur="this.placeholder='Zoek direct op een opleiding, klas of student'">
    </div>
  </div>
  <div class="overlay" style="background-image: url(/static/images/video-background.png);"></div>
</header>
<div class="row">
  <a href="#">
    <div class="small-12 medium-3 columns block grafischvormgeven">
      <div class="title">Grafisch Vormgeven</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block interactiefvormgeven">
      <div class="title">Interactief Vormgeven</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block audiovisueel">
      <div class="title">Audiovisueel</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block dtper">
      <div class="title">DTP-er</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block mediamanager">
      <div class="title">Media Manager</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block audiovisueeltechnicus">
      <div class="title">Audiovisueel Technicus</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block evenemententechnicus">
      <div class="title">Evenementen Technicus</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
    <div class="small-12 medium-3 columns block wistjedat nohover">
      <div class="title">Wist je dat?!</div>

      <p><strong>80%</strong> van de examenkandidaten uit Amsterdam komt?</p>

      <p><strong>20%</strong> van de examenkandidaten op voetbal zit?</p>
    </div>
    <div class="small-12 medium-3 columns block overhetma nohover">
      <div class="title">Petjo Molenaar over het MA</div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  <a href="#">
    <div class="small-12 medium-3 columns block geluidtechnicus">
      <div class="title">Geluid Technicus</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block mediaengamedeveloper">
      <div class="title">Media- en Gamedeveloper</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block ruimtelijkvormgeven">
      <div class="title">Ruimtelijk Vormgeven</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block podiumtechnicus">
      <div class="title">Podium Technicus</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block filmacteur">
      <div class="title">Filmacteur</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block signmaker">
      <div class="title">Signmaker</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
  <a href="#">
    <div class="small-12 medium-3 columns block gameartist">
      <div class="title">Game Artist</div>

      <div class="naarklas">Bekijk de klas &rsaquo;</div>
    </div>
  </a>
</div>