<div class="row" ng-repeat="row in studies">
      <!-- Load random fact block -->
      <div class="small-12 medium-3 columns block" style="height: 250px;" ng-if="row.isFact">
        <div class="title">Weet je wat het is? ...</div>
        <br>
        <span>{{ row.answer }}</span>
      </div>

      <!-- Load study -->
      <a ui-sref="opleiding({slug: row.study.slug})" ng-if="!row.isFact">
        <div class="small-12 medium-3 columns block {{row.htmlClass}}" style="height: 250px;" >
          <div class="title">{{ row.study.name }}</div>

          <div class="naarklas">Bekijk de klas &rsaquo;</div>
        </div>
      </a>
</div>