<section class="class">
	<div class="row">
		<angular ng-repeat="student in groep.students">
			<a ui-sref="profiel({groep: groep.slug, student: student.slug})">
				<div class="small-12 medium-3 columns grafischvormgeven block">
					<figure>
					<profielfoto student-id="{{ student.id}}" size="thumbnail" width="80px" height="80px"/>
						<figcaption>
						<div class="title">{{ student.fullname }}</div>
						<div class="naarprofiel">Bekijk het profiel</div>
						</figcaption>
					</figure>
				</div>
			</a>
		</angular>
	</div>
</section>