<h1>{{foo}}</h1>
<section class="login">
  <div class="large-3 large-centered columns">
    <div class="login-box">
      <form>
         <div class="row">
           <div class="large-12 columns">
               <input type="text" name="username" placeholder="Leerling nummer" />
           </div>
         </div>
        <div class="row">
           <div class="large-12 columns">
               <input type="password" name="password" placeholder="Wachtwoord" />
           </div>
        </div>
        <div class="row">
          <div class="large-12 large-centered columns">
            <input type="submit" class="button expand" value="Login"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>