{{db.studies.where({slug: params.naam})}}

<section class="training opleidingen">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <a href="#">
        <figure>
          <img src="/static/images/klassen/gv4a.jpg">
          <figcaption>
          GV4A
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="#">
        <figure>
          <img src="/static/images/klassen/gv4b.jpg">
          <figcaption>
          GV4B
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="#">
        <figure>
          <img src="/static/images/klassen/gv4c.jpg">
          <figcaption>
          GV4C
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="#">
        <figure>
          <img src="/static/images/klassen/gv4d.jpg">
          <figcaption>
          GV4D
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>