<section class="profile profile-content grafischvormgeven" >
  <div class="row">
    <div class="block toekomstbeeld">
      <h2>Mijn toekomstbeeld</h2>
      <p>“Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie. Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie.”</p>
    </div>
    <div class="block project--een project--info">
      <h2>School project webdesign</h2>
      <p>Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie.</p>
      <a href="#">Bekijk project &raquo;</a>
    </div>
    <div class="block project--een project--image">
      <a id="lightbox-item" href="/static/images/profile-project.png">
        <img src="/static/images/profile-project.png" alt="School project webdesign uitgelicht">
      </a>
    </div>
    <div class="block project-twee project--info">
      <h2>Tijdschrift vormgeven</h2>
      <p>Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie.</p>
      <a href="#">Bekijk project &raquo;</a>
    </div>
    <div class="block project--twee project--image">
      <img src="/static/images/profile-project2.png" alt="Tijdschrift vormgeven uitgelicht">
    </div>
    <div class="block hoewas acht">
      <h2>Hoe was..</h2>
      <p>de stage periode van Marja</p>
    </div>
    <div class="block hobby">
      <h2>Hobby's</h2>
      <p>Paardrijden<br>Computeren<br>Sporten<br>Karate</p>
    </div>
    <div class="block project--drie project--info">
      <h2>School project webdesign</h2>
      <p>Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie.</p>
      <a href="#">Bekijk project &raquo;</a>
    </div>
    <div class="block project--drie project--image">
      <img src="/static/images/profile-project.png" alt="School project webdesign uitgelicht">
    </div>
    <div class="block project-vier project--info">
      <h2>Tijdschrift vormgeven</h2>
      <p>Bij de opleiding grafisch vormgever leer je alles om straks bij een ontwerpstudio, uitgeverij of een reclamebureau aan de slag te gaan of door te studeren op een hbo, bijvoorbeeld een kunstacademie.</p>
      <a href="#">Bekijk project &raquo;</a>
    </div>
    <div class="block project--vier project--image">
      <img src="/static/images/profile-project2.png" alt="Tijdschrift vormgeven uitgelicht">
    </div>
    <div class="block favoriet">
      <h2>Favoriete...</h2>
      <p>
        docent van Marja
        <span>Rosmerta Goei</span>
      </p>
    </div>
    <div class="block maps">
      <div id="pin">Marja woont in Hoorn</div>
      <div id='map-canvas'></div>
    </div>
  </div>
</section>

<div id="lightbox">
  <p>Click to close</p>
  <div id="content"></div>
</div>