<article class="waarom-het-ma medium-9 columns content" ng-show="show">
  <form data-abide>
    <div class="row">
      <div class="small-12 columns">
        <h2>Toekomstbeeld</h2>
      </div>
      <div class="small-12 columns">
        <div class="toekomstbeeld-field">
          <label>Wat is je toekomstbeeld, wat zijn je ambities?
            <textarea required>{{ userData.info.future_vision }}</textarea>
          </label>
          <small class="error">Je hebt niks ingevuld!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="#" class="button">Herstel velden</a>
        <a href="#" class="button">Opslaan</a>
      </div>
    </div>
  </form>
</article>
<article class="waarom-het-ma medium-9 columns content" ng-hide="show">
  <center><img src="http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/5-1.gif" alt="Loading..."/></center>
</article>