<article class="waarom-het-ma medium-9 columns content" ng-show="show">
  <form method="post" ng-submit="postData()" data-abide>
    <div class="row">
      <div class="small-12 columns">
        <div class="waarom-field">
          <label><h2>Waarom heb je voor het Mediacollege gekozen?</h2>
            <textarea ng-model="userData.info.why_ma" required></textarea>
          </label>
          <small class="error">Veld is niet ingevuld!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="#" class="button">Herstel velden</a>
        <input type="submit" value="Opslaan" class="button" />
      </div>
    </div>
  </form>
</article>
<article class="waarom-het-ma medium-9 columns content" ng-hide="show">
  <center><img src="http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/5-1.gif" alt="Loading..."/></center>
</article>