<article class="waarom-het-ma medium-9 columns content">
  <form data-abide>
    <div class="row">
      <div class="small-12 columns">
        <div class="waarom-field">
          <label><h2>Waarom heb je voor het Mediacollege gekozen?</h2>
            <textarea required></textarea>
          </label>
          <small class="error">Veld is niet ingevuld!</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <hr>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="#" class="button">Herstel velden</a>
        <a href="#" class="button">Opslaan</a>
      </div>
    </div>
  </form>
</article>