<div class="page-header">
  <h1>Zoeken <small> angular.js</small></h1>
</div>
<div class="col-md-4">
	<form class="form-horizontal">
		<fieldset>
			<legend>Specificaties</legend>
			
			<div class="form-group">
				<label for="nameFirst" class="col-lg-3 control-label">Voornaam</label>
				<div class="col-lg-8"><input id="nameFirst" ng-model="search.nameFirst" class="form-control" /></div>
			</div>

			<div class="form-group">
				<label for="nameLast" class="col-lg-3 control-label">Achternaam</label>
				<div class="col-lg-8"><input id="nameLast" ng-model="search.nameLast" class="form-control" /></div>
			</div>

			<div class="form-group">
				<label for="study" class="col-lg-3 control-label">Opleiding</label>
				<div class="col-lg-8"><select name="study" ng-model="search.group.study_id" class="form-control"><option ng-repeat="study in db.studies" value="{{study.id}}">{{study.name}}</option></select></div>
			</div>

		</fieldset>
	</form>
</div>
<div class="col-md-8">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Naam</th>
				<th>Klas</th>
				<th>Opleiding</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in db.students | filter:search">
				<td>{{ student.id }}</td>
				<td>{{ student.nameFirst }} {{student.nameLast}}</td>
				<td>{{ student.group.name }}</td>
				<td>{{ student.group.fullname }}</td>
			</tr>
		</tbody>
	</table>
</div>
   
